seo-content-gap-analyzer-n8n.json.json
{
  "name": "SEO Content Gap Analysis and Report Generator",
  "nodes": [
    {
      "parameters": {
        "options": {
          "temperature": 0.3
        }
      },
      "id": "83bfa3aa-da3d-44d1-b422-82e8ce9ada74",
      "name": "Gemini AI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3528,
        528
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "CIyBbCmXJAoOz8zT",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.keyword }}"
            },
            {
              "name": "engine",
              "value": "google"
            },
            {
              "name": "num",
              "value": "10"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "dcfd32e6-0b8b-4ea2-b024-329e6dfdc872",
      "name": "Search Google via SerpAPI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2400,
        304
      ],
      "credentials": {
        "serpApi": {
          "id": "KL53IwCIexDpzPep",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract top 5 organic search results from SerpAPI response\nconst serpApiResponse = $input.first().json;\n\n// Get organic results from the response\nconst organicResults = serpApiResponse.organic_results || [];\n\n// Extract top 5 URLs with titles and snippets\nconst topUrls = organicResults.slice(0, 5).map((result, index) => ({\n  position: index + 1,\n  url: result.link || '',\n  title: result.title || '',\n  snippet: result.snippet || '',\n  displayedLink: result.displayed_link || ''\n}));\n\n// Return the array of URLs\nreturn topUrls.map(item => ({ json: item }));"
      },
      "id": "caef23fc-915f-45aa-9199-ff2791d33ac3",
      "name": "Extract Top URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2624,
        304
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "text",
              "outputPropertyName": "htmlContent"
            }
          }
        }
      },
      "id": "a861df3c-01b1-4197-92c8-054621ea7e92",
      "name": "Fetch Page Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2848,
        304
      ],
      "alwaysOutputData": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "htmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": "title"
            },
            {
              "key": "h1",
              "cssSelector": "h1"
            },
            {
              "key": "h2Tags",
              "cssSelector": "h2",
              "returnArray": true
            },
            {
              "key": "metaDescription",
              "cssSelector": "meta[name=\"description\"]",
              "returnValue": "attribute",
              "attribute": "content"
            },
            {
              "key": "bodyText",
              "cssSelector": "body"
            }
          ]
        },
        "options": {
          "trimValues": true
        }
      },
      "id": "06168d32-a288-4b9b-8832-d8a47b3261a2",
      "name": "Extract Content",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        3072,
        304
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "36963b19-09e6-4fc9-bd99-9f24d93c0235",
      "name": "Combine All Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3296,
        304
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following top-ranking pages for the keyword \"{{ $('Enter Keyword').item.json.keyword }}\" and identify content gaps:\n\n{{ JSON.stringify($json, null, 2) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an SEO content gap analyst. Analyze the top-ranking pages for the target keyword and identify: 1) Common topics and themes across all pages, 2) Content gaps - topics covered by competitors but missing from some pages, 3) Content depth - how comprehensive each page is, 4) Unique angles - what makes each page different, 5) Recommendations for creating content that fills gaps and outranks competitors."
        }
      },
      "id": "d6292b42-d7ce-4daa-b94d-ae3e5a877378",
      "name": "Content Gap AI Analyzer",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        3520,
        304
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"keyword\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"description\": \"The target keyword analyzed\"\n\t\t},\n\t\t\"commonTopics\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"description\": \"Common topics found across top-ranking content\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"contentGaps\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"description\": \"Content gaps identified in competitor analysis\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"object\",\n\t\t\t\t\"properties\": {\n\t\t\t\t\t\"gap\": {\n\t\t\t\t\t\t\"type\": \"string\",\n\t\t\t\t\t\t\"description\": \"The content gap identified\"\n\t\t\t\t\t},\n\t\t\t\t\t\"opportunity\": {\n\t\t\t\t\t\t\"type\": \"string\",\n\t\t\t\t\t\t\"description\": \"The opportunity this gap presents\"\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"competitorStrengths\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"description\": \"Strengths identified in competitor content\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t},\n\t\t\"recommendations\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"description\": \"Actionable recommendations for content creation\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"object\",\n\t\t\t\t\"properties\": {\n\t\t\t\t\t\"priority\": {\n\t\t\t\t\t\t\"type\": \"string\",\n\t\t\t\t\t\t\"description\": \"Priority level (high, medium, low)\"\n\t\t\t\t\t},\n\t\t\t\t\t\"action\": {\n\t\t\t\t\t\t\"type\": \"string\",\n\t\t\t\t\t\t\"description\": \"Recommended action to take\"\n\t\t\t\t\t}\n\t\t\t\t}\n\t\t\t}\n\t\t},\n\t\t\"suggestedOutline\": {\n\t\t\t\"type\": \"array\",\n\t\t\t\"description\": \"Suggested content outline with section titles\",\n\t\t\t\"items\": {\n\t\t\t\t\"type\": \"string\"\n\t\t\t}\n\t\t}\n\t}\n}"
      },
      "id": "26579a12-5887-4d93-95a3-ebf4dc4d4e66",
      "name": "Gap Analysis Report Structure",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        3656,
        528
      ]
    },
    {
      "parameters": {
        "formTitle": "SEO Content Gap Analysis",
        "formDescription": "Enter a keyword to analyze top-ranking content and identify content gaps",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Target Keyword",
              "fieldName": "keyword",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false,
          "buttonLabel": "Analyze Keyword"
        }
      },
      "id": "cd50148a-2977-40c2-9753-38b0c7fc7acf",
      "name": "Enter Keyword",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        2176,
        304
      ],
      "webhookId": ""
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e051a28-aaf2-48e7-ae5d-7b15b0e30cb2",
              "name": "output.commonTopics",
              "value": "={{ $json.output.commonTopics[0] }}{{ $json.output.commonTopics[1] }}{{ $json.output.commonTopics[2] }}{{ $json.output.commonTopics[3] }}",
              "type": "string"
            },
            {
              "id": "e1d6c864-87ab-404d-abbf-1b3e816b73f0",
              "name": "output.contentGaps",
              "value": "=\n{{'Gap: ' + $json[\"output\"][\"contentGaps\"][0].gap + ', Opportunity: ' + $json[\"output\"][\"contentGaps\"][0].opportunity}}\n{{'Gap: ' + $json[\"output\"][\"contentGaps\"][1].gap + ', Opportunity: ' + $json[\"output\"][\"contentGaps\"][1].opportunity}}{{'Gap: ' + $json[\"output\"][\"contentGaps\"][2].gap + ', Opportunity: ' + $json[\"output\"][\"contentGaps\"][2].opportunity}}{{'Gap: ' + $json[\"output\"][\"contentGaps\"][3].gap + ', Opportunity: ' + $json[\"output\"][\"contentGaps\"][3].opportunity}}{{'Gap: ' + $json[\"output\"][\"contentGaps\"][4].gap + ', Opportunity: ' + $json[\"output\"][\"contentGaps\"][4].opportunity}}",
              "type": "string"
            },
            {
              "id": "3052815d-3d6e-4158-b57e-e881a9dc7ed5",
              "name": "output.competitorStrengths",
              "value": "={{ $json.output.competitorStrengths[0] }}{{ $json.output.competitorStrengths[1] }}{{ $json.output.competitorStrengths[2] }}{{ $json.output.competitorStrengths[3] }}",
              "type": "string"
            },
            {
              "id": "6641704c-fcd3-4e4d-835d-16b779554b75",
              "name": "output.recommendations",
              "value": "=\n{{'Priority: ' + $json[\"output\"][\"recommendations\"][0].priority + ', Action: ' + $json[\"output\"][\"recommendations\"][0].action}}\n{{'Priority: ' + $json[\"output\"][\"recommendations\"][1].priority + ', Action: ' + $json[\"output\"][\"recommendations\"][1].action}}\n{{'Priority: ' + $json[\"output\"][\"recommendations\"][2].priority + ', Action: ' + $json[\"output\"][\"recommendations\"][2].action}}\n{{'Priority: ' + $json[\"output\"][\"recommendations\"][3].priority + ', Action: ' + $json[\"output\"][\"recommendations\"][3].action}}\n{{'Priority: ' + $json[\"output\"][\"recommendations\"][4].priority + ', Action: ' + $json[\"output\"][\"recommendations\"][4].action}}\n{{'Priority: ' + $json[\"output\"][\"recommendations\"][5].priority + ', Action: ' + $json[\"output\"][\"recommendations\"][5].action}}\n{{'Priority: ' + $json[\"output\"][\"recommendations\"][6].priority + ', Action: ' + $json[\"output\"][\"recommendations\"][6].action}}",
              "type": "string"
            },
            {
              "id": "75d95437-6489-4c3b-bf83-4740881ec999",
              "name": "output.suggestedOutline",
              "value": "={{ $json.output.suggestedOutline[0] }}{{ $json.output.suggestedOutline[1] }}{{ $json.output.suggestedOutline[2] }}{{ $json.output.suggestedOutline[3] }}{{ $json.output.suggestedOutline[4] }}{{ $json.output.suggestedOutline[5] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "4e5b9d02-6fe4-4c95-9e03-c37c5524e013",
      "name": "Prepare Report Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3872,
        304
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4096,
        304
      ],
      "id": "3ccccc9e-12b1-46e4-a3d4-79278cc4f8d9",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "connections": {
    "Gemini AI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Content Gap AI Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search Google via SerpAPI": {
      "main": [
        [
          {
            "node": "Extract Top URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Top URLs": {
      "main": [
        [
          {
            "node": "Fetch Page Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Page Content": {
      "main": [
        [
          {
            "node": "Extract Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Content": {
      "main": [
        [
          {
            "node": "Combine All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine All Results": {
      "main": [
        [
          {
            "node": "Content Gap AI Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Content Gap AI Analyzer": {
      "main": [
        [
          {
            "node": "Prepare Report Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gap Analysis Report Structure": {
      "ai_outputParser": [
        [
          {
            "node": "Content Gap AI Analyzer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Enter Keyword": {
      "main": [
        [
          {
            "node": "Search Google via SerpAPI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Report Data": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "",
  "meta": {},
  "id": "FDeW8ZsJMcZj7oHQ",
  "tags": []
}